/* .title{
    font-family: "carla";
    font-style: ;
    font-size:60px

} */

body{
    font-family:"Karla", sans-serif;
    padding-top:16px 48px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;

}
h1{
    font-size: 72px;
 
}

h2{
    font-size:48px;
    color:gray;
    font-style:oblique;
    margin:0px;
    font-weight:400;
}
.photo{
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
    margin: 16px;
    
}
.h{
    border:5px dashed #eaeaea;}

.leftContainer{
    align-items: flex-start;
}

.rightContainer{
    align-items: flex-end;
    margin-top:10px;
}

.smPhoto{
    width: 100px;
    height: 100px;
    margin-right: 32px;
}

.smPhoto-right{
    width:100px;
    height:100px;
    margin-left:32px;
    
}